body {
    font-family:'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: black;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color:darkslategray;
}

#main-header {
    background-color: darkslategray;
    color: white; 
    text-align: center;
    border-bottom: 5px solid #9bc8e0;
    padding: 25px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse; 
}




