body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f9color;
    color: ##333333;
}

h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
}

#main-header {
    background-color: rgb(155, 155, 224);
    color: white; 
    text-align: center;
    border-bottom: 5 px solid #000000;
}



