body {
    font-family:'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: black;
}

h1 {
    background-color:darkslategrey; 
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color:darkslategray;
}

#main-header {
    background-color: rgb(155, 200, 224);
    color: white; 
    text-align: center;
    border-bottom: 5 px solid #000000;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse; 
}




