body { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    background-color: #fffaf0; 
    color: black; }

.sidebar { 
    width: 20%; 
    height: 100vh; 
    background-color: lightblue; 
    padding: 20px; 
    box-sizing: border-box; 
    position: fixed; 
    left: 0; 
    top: 0; }

.sidebar h1 { 
    color: darkslategray; 
    font-size: 28px; 
    margin-bottom: 30px; }

 .sidebar button { 
    width: 100%; 
    padding: 12px 20px; 
    margin-bottom: 15px; 
    font-size: 18px; 
    font-weight: bold; 
    background-color: darkblue; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; }

.sidebar button:hover {
     background-color: royalblue; }

 .content { width: 80%; 
    min-height: 100vh; 
    margin-left: 20%; 
    padding: 40px; 
    box-sizing: border-box; 
    background-color: #fffaf0; 
    color: black; 
    text-align: left; }

.content h2 { 
    font-size: 28px; 
    color: darkslategray; 
    margin-bottom: 20px; }

.content p { 
    font-size: 18px; 
    line-height: 1.5; }